@import "https://unpkg.com/open-props";

body {
    --primary-blue: aqua;
    --primary-blue-shade: rgb(36, 106, 152);
    --aside-width: 115px;
    --body-margin: 8px;
    --interactable-width: 70px;
    font-family: var(--font-sans);
    margin: var(--body-margin);
}

header {

    background-color: var(--primary-blue-shade);
    height: 7vh;
    padding: 5px;
    display: flex;
    min-width: 115px;

    #logo {
        height: 90%;
        margin: 5px;
        padding-right: 20px;
        max-width: 120px;
    }

    #user-name {
        margin: 0px;

    }

}



aside {
    position: absolute;
    left: 8px;
    top: calc(7vh + 18px);
    width: 300px;
    min-width: 115px;
    height: 93vh;
    background-color: aqua;
    width: var(--aside-width);
    padding: 5px;

    #pet-list {
        list-style: none;
        padding: 0;
        width: 90%;
        margin-inline: 5px;
        margin-top: 0px;

        li {
            background-color: var(--primary-blue-shade);
            border-radius: 5px;
            padding: 10px;
        }
    }

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(var(--aside-width) + var(--body-margin));

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        menu {
            width: 100px;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            padding: 0px;
            margin: 0px;
            margin-right: 20px;

            li {
                background-color: var(--primary-blue-shade);
                height: var(--interactable-width);
                width: var(--interactable-width);
                border-radius: 100%;
                text-align: center;
                margin: 10px;
                margin-right: 20px;

            }


            #Msg {
                margin-right: 0px;
            }

            #Med {
                margin-right: 0px;
            }

            .interactable:hover {
                width: 90px;
                height: 90px;
                background-color: aqua;
                margin-block: 20px;
            }

        }

        #portrait {
            height: 400px;
            border-radius: 100%;

        }

        #pet-info {
            display: flex;
            flex-direction: column;

            #pet-name {
                font-size: 3em;
                margin: 10px;
            }

            #species {
                margin-left: 20px;
            }

            #sex {
                margin-left: 17px;
            }

            #birthday {}
        }
    }

    #content {
        height: 7vh;
    }
}



.shrink-nav {
    justify-content: start;

    nav {
        height: 15vh;

        #portrait {
            height: 100%;
        }

        menu {
            flex-direction: row;
            min-width: 200px;

            li {
                flex-shrink: 0;
                margin: 10px;
                height: calc(var(--interactable-width) - 30px);
                width: calc(var(--interactable-width) - 30px);
            }
        }

        .pet-details {
            display: none;
        }

    }

}

.shrink-header {
    width: var(--aside-width);
    position: absolute;

    #user-name {
        display: none;
    }
}